#company{
    
}
#company nav{

}
#company nav ol{
  
  /*! justify-content: space-between; */
  /*! align-items: center; */
}
#company nav ol li{
  
}
#company nav ol li a{
  
}
#company nav ol li:nth-child(1) a{
 
}
#company nav ol li:last-child{
  
}
#company nav ol li:nth-child(1){
  
}
#company nav ol li:nth-child(n+2){
  
}
#company nav ol li:nth-child(n+3){
 
}
#company section {
  
}
#company section .wrap {
}
#company section div strong:nth-child(1) {
    line-height: 1.4;
    padding-bottom: 50px; 
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Pretendard Std Variable", "Pretendard Std", Pretendard, Roboto, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#company section div span{
    color: #00a0c6;
}
#company section div strong:nth-child(2) {
    margin: 50px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Pretendard Std Variable", "Pretendard Std", Pretendard, Roboto, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#company section div p {
  /*! line-height: 1.5; */
  margin-bottom: 30px;
  /*! font-family: -apple-system, BlinkMacSystemFont, "Pretendard Std Variable", "Pretendard Std", Pretendard, Roboto, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; */
}
#company section div p:nth-child(4){
  padding-bottom:70px;
  border-bottom:3px solid #666;
}
#company section div p:nth-of-type(n+1):nth-of-type(-n+6){
  color:#777;
}
#company section div p:last-child{
}

#company section div ul{
  gap:30px;
  flex-wrap: wrap;
}
#company section div ul li{

  width: calc(50% - 15px);
  display: grid;
  grid-template-columns: 50% calc(50% - 30px);
  column-gap: 30px;
  grid-template-rows: auto 1fr;
}

#company section div ul li figure{
  
}
#company section div ul li figure:nth-child(n){
  grid-row: 1 / span 2;
}
#company section div ul li figure img{

  width: 100%;
}
#company section div ul li figure figcaption{

}
#company section div ul li h3{

  margin-bottom: 20px;
}
#company section div ul li p{

}
