
footer{
  background-color: #eeeeee;
}
footer .wrap {
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1.5;
  font-size: 13px;
}
footer .wrap ul {
  /*! width: 40%; */
}
footer .wrap ul li {
}
footer .wrap ul li a {
}
footer .wrap address {
  width: 50%;
}
footer .wrap select {
  width: 15%;
  border: none;
  border-top: 1px solid #b6b6b6;
  padding: 10px 0px;
  height: 10%;
  background: transparent;
}
footer .wrap select option {
}
footer .wrap p {
  width: 100%;
  border-top: 1px solid gray;
  margin-top: 20px;
  padding-top: 20px;
}