#governance {

}

#governance nav{
}
#governance {

}
#governance section {

}
#governance section div{
  margin-top:30px;
}
#governance section div ul{
  background-color: #eee;
  margin: 30px 0;
  border: 1px solid #bbb;
}
#governance section div ul li{
  width: calc(100% / 6);
  border: 1px solid #bbb;
}
#governance section div ul li:not(:first-child){
  
  border-left: 1px solid #bbb;
}
#governance section div ul li a{
  display: flex;
  line-height: 3;
}
#governance section div ul li:first-child a{
}
#governance section div ul li a {     
  border: 1px solid #d9d9d9;
  
  display: block;
  text-align: center;
  padding: 5px 0;
  line-height: 2;
  border-bottom: 0;
}
#governance section div h3 {

  color: #00a0c6;
  font-weight: bold;
  margin-bottom: 20px;
}
#governance section div h3+div{
  
  border: 1px solid #e6e6e6;
  padding: 30px;
  margin-bottom: 40px;
  width: 1100px;
  box-sizing: border-box;
}
#governance section div div {

}
#governance section div div p.p {

  margin-bottom: 30px;
  line-height: 1.5;
}

#governance section article{
  
}
.current{
 background-color: white;
  border: 1px solid blue;
  border-bottom-color: white;
  border-top-width: 2px; 
 transform: scale(1.02);
}