#greeting{
    
}
#greeting nav{
 
}
#greeting nav ol{
  
  /*! justify-content: space-between; */
  /*! align-items: center; */
}
#greeting section {
    
  
}
#greeting section .wrap {
  padding-top: 100px;
}
#greeting section div strong:nth-child(1) {
    line-height: 1.2;
    padding-bottom: 50px;
    border-bottom: 3px solid #00a9cf;   
    font-family: -apple-system, BlinkMacSystemFont, "Pretendard Std Variable", "Pretendard Std", Pretendard, Roboto, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#greeting section div span{
    color: #00a0c6;
}
#greeting section div strong:nth-child(2) {
    margin: 50px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Pretendard Std Variable", "Pretendard Std", Pretendard, Roboto, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#greeting section div p {
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Pretendard Std Variable", "Pretendard Std", Pretendard, Roboto, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
#greeting section div p:nth-of-type(n+1):nth-of-type(-n+6){
  color:#777;
}
#greeting section div p:last-child{
    display: block;
    margin-top:50px;
    margin-bottom: 80px;
}
 