#groupnews {

}
#groupnews section {

}
#groupnews section .wrap {

}
#groupnews section .wrap ul {

  border-top: 3px solid #1e84b2;
}
#groupnews section .wrap ul li {

  margin: 30px 0px;
}
#groupnews section .wrap ul li:first-child{
  
}
#groupnews section .wrap ul li a {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /*! grid-template-rows: 0.4fr 2fr 0.3fr; */
  gap: 10px;
  column-gap: 40px;
}
#groupnews section .wrap ul li a figure {
      /*윗줄에서 첫줄~윗줄에서 3번째 면  */
  grid-row: 1 / span 3;
}
#groupnews section .wrap ul li a figure img {

  height: 100%;
  display: block;
  width: 100%;
}
#groupnews section .wrap ul li a h3 {
     
  line-height: 1;
}
#groupnews section .wrap ul li a p{
    line-height: 1.4;
}
#groupnews section .wrap ul li a p:nth-of-type(1) {

  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;

}
#groupnews section .wrap ul li a .date {

}
#groupnews section .wrap ul li a .date span {
 background-color: #ccc;
 width: 2px;
 height: 15px;
 display: inline-block;
 margin: 0px 10px;
}
#groupnews section div {
  
}
#groupnews section div form {
  
  border: 1px solid #ccc;
  margin-bottom: 60px;
}
#groupnews section div form fieldset {
  
  padding: 18px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
#groupnews section div form fieldset:{
  background-color: white;
}
#groupnews section div form fieldset legend {
  
}
#groupnews section div form fieldset select {
  
  border: 1px solid #ccc;
  background: white;
  
  padding: 10px;
}
#groupnews section div form fieldset select:nth-of-type(-n+2){
  width: calc(50% * 6 / 8 - 6px - 20px / 6);
}
#groupnews section div form fieldset select:nth-of-type(3){
  width: calc(50% / 4 - 6px - 20px / 6);
}
#groupnews section div form fieldset select option {
  
}

#groupnews section div form fieldset input[type="reset"]{
  width: calc(50% / 4 / 3 - 20px / 6);
  background-image: url(../img/refresh-outline.svg);
  background-repeat: no-repeat;
  font-size: 0;
  background-position: center;
  background-color: #aeaeae;
}
#groupnews section div form fieldset input[type="submit"] {
  
  border: 1px solid #929292b5;
  background-color: #2d8fb7;
  color: white;
  width: calc(50% / 4 / 3 * 2 - 20px / 6);
}
#groupnews section div form fieldset input[type="text"] {
  
  width: calc(50% / 4 * 3 - 20px / 6);
  transform: scale(98%);
  transform-origin: 100% 50%;
}