body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
  }
  /* 상단영역 */
  header{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    left: calc(50% - 550px);
    position: relative;
    z-index: 2;
    transition: all 1s;
  }
  header h1 a{
    background-image: url(../img/hj_logo.jpg);
    width: 230px;
    height: 25px;
    display: block;
    font-size: 0px;
  }
  header nav{
    display: flex;
    /*! position: relative; */
    align-items: center;
  }
  ul{
  }
  ul.gnb{
    border-top: 1px solid #7777778c;
    /*! padding-top: 10px; */
    display: flex;
  }
  ul.gnb li{
    margin-top: -1px;
     
  }
  ul.gnb li a{
    padding: 10px 30px;
    display: block;
    border-top: 2px solid transparent;
    transition: border 1s;
  }
  ul.gnb li a:hover{
    color:#ff2f2f;
    border-top: 2px solid blue;
  }
  ul.etcmenu{
    position: absolute;
    top: 8px;
    right: 0px;
    display: flex;
  } 
  ul.etcmenu li a{
    padding:5px 16px;
    font-size: 14px;
    display: block;
  }
  ul.etcmenu li:first-child a::after{
     content: "▼";
    color: gray;
    font-size: 7px;  
    vertical-align: 3px;  /*글자 수직 정렬*/
    margin-left: 4px;
  }
  ul.etcmenu li a:hover{
    color:#ed0000;
  }
  .ham{
    /*! display: block; */
    font-size: 0;
    border:none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-top:2px solid white;
    border-bottom: 2px solid white;
    
  }
.ham:before{
  content: "";
  width: 20px;
  display: block;
  height: 2px;
  background-color: white;
}