


/* 메인영역 */
main section#intro{
  
}
main section#intro div{
  
}
main section#intro div h2 {
  display: none;
 }
main section#intro div ul {
  justify-content: space-between;
  display: flex;
 }
main section#intro div ul li {
  width: calc(100% / 4 - 60px / 4);
  height: 100%;
  background-color: #ccc;
 }
main section#intro div ul li:nth-child(1){
}
main section#intro div ul li a p{
  display: block;
  opacity: 0;
  transition: all 1s;
  font-size: 13px;
  margin-top: 20px;
  line-height: 1.4;
  z-index: 4;
}
main section#intro div ul li a:hover p{
  opacity: 1;
}
main section#intro div ul li a h3{
  transition: all 1s;
  z-index: 3;
}
main section#intro div ul li a h3::before{
  content: "";
  background-color: black;
  height: 2px;
  width: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
/* position을 입력하면 margin 0 auto가 먹히지 않음   */
  transition: all 1s;
}
main section#intro div ul li a:hover h3::before{
  background-color: white;
}
main section#intro div ul li:nth-child(1) a{
  background: -webkit-gradient(radial,circle, left top, left bottom, color-stop(0, #dbe2e7), color-stop(1, #8ca2b2));
	background: -moz-radial-gradient(circle, #dbe2e7 10%, #8ca2b2 100%);
	background: -webkit-radial-gradient(circle,  #dbe2e7 10%, #8ca2b2 100%);
	background: -o-radial-gradient(circle,  #dbe2e7 10%, #8ca2b2 100%);
	background: -ms-radial-gradient(circle,  #dbe2e7 10%, #8ca2b2 100%);
	background: radial-gradient(circle,  #dbe2e7 10%, #8ca2b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff84', endColorstr='#8ca2b2', gradientType=0);
}
main section#intro div ul li:nth-child(2) a{
  background: -webkit-gradient(radial,circle, left top, left bottom, color-stop(0, #e6edf0), color-stop(1, #b1c8d0));
	background: -moz-radial-gradient(circle, #e6edf0 10%, #b1c8d0 100%);
	background: -webkit-radial-gradient(circle,  #e6edf0 10%, #b1c8d0 100%);
	background: -o-radial-gradient(circle,  #e6edf0 10%, #b1c8d0 100%);
	background: -ms-radial-gradient(circle,  #e6edf0 10%, #b1c8d0 100%);
	background: radial-gradient(circle,  #e6edf0 10%, #b1c8d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff84', endColorstr='#8ca2b2', gradientType=0);
}
main section#intro div ul li:nth-child(3) a{
  background: -webkit-gradient(radial,circle, color-stop(0, #f1f1f1), color-stop(1, #d1d1d3));
	background: -moz-radial-gradient(circle, #f1f1f1 10%, #d1d1d3 100%);
	background: -webkit-radial-gradient(circle,  #f1f1f1 10%, #d1d1d3 100%);
	background: -o-radial-gradient(top,  #f1f1f1 10%, #d1d1d3 100%);
	background: -ms-radial-gradient(circle,  #f1f1f1 10%, #d1d1d3 100%);
	background: radial-gradient(circle,  #f1f1f1 10%, #d1d1d3 100%);	
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff84', endColorstr='#8ca2b2', gradientType=0);
}
main section#intro div ul li:nth-child(4) a{
  background: -webkit-gradient(radial,circle, left top, left bottom, color-stop(0, #edebe3), color-stop(1, #c7c0a7));
	background: -moz-radial-gradient(circle, #edebe3 10%, #c7c0a7 100%);
	background: -webkit-radial-gradient(circle,  #edebe3 10%, #c7c0a7 100%);
	background: -o-radial-gradient(circle,  #edebe3 10%, #c7c0a7 100%);
	background: -ms-radial-gradient(circle,  #edebe3 10%, #c7c0a7 100%);
	background: radial-gradient(circle,  #edebe3 10%, #c7c0a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff84', endColorstr='#8ca2b2', gradientType=0);
}
main section#intro div ul li a {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  padding: 20px 0px;
 }
main section#intro div ul li a::before{
  transition: all 1s;
  z-index: 2;
  margin-top: 20px;
}
main section#intro div ul li:hover a:before{
  transform: scale(1,0.99) rotate(0)skew(0,0) translate(0,0);
  -webkit-transform: scale(1,0.99) rotate(0)skew(0,0) translate(0,0);
  -moz-transform: scale(0.5) rotate(0)skew(0,0) translate(0,0);
  transform-origin: 50% 50%;
  opacity: 0.5;
    
}

main section#intro div ul li:hover h3{
  transform: scale(1,0.99) rotate(0)skew(0,0) translate(0,0);
  -webkit-transform: scale(1,0.99) rotate(0)skew(0,0) translate(0,0);
  -moz-transform: scale(1) rotate(0)skew(0,0) translate(0,-60px);
  transform-origin: 50% 50%;
}
main section#intro div ul li:hover h3:before{
  transform: scale(1,0.99) rotate(0)skew(0,0) translate(0,0);
  -webkit-transform: scale(1,0.99) rotate(0)skew(0,0) translate(0,0);
  -moz-transform: scale(1) rotate(0)skew(0,0) translate(0,42px);
  transform-origin: 50% 50%;
}
main section#intro div ul li:hover p{
  transform: scale(1,0.99) rotate(0)skew(0,0) translate(0,0);
  -webkit-transform: scale(,0.99) rotate(0)skew(0,0) translate(0,0);
  -moz-transform: scale(1) rotate(0)skew(0,0) translate(0,-60px);
  transform-origin: 50% 50%;
}
main section#intro div ul li a:hover{
  color: white;
  box-shadow: 4px 4px 4px gray;
}
main section#intro div ul li a:hover::after{
  background: -webkit-gradient(radial,circle, left top, left bottom, color-stop(0, #6973ff), color-stop(1, #4b32f9));
	background: -moz-radial-gradient(circle, #6973ff 10%, #4b32f9 100%);
	background: -webkit-radial-gradient(circle,  #6973ff 10%, #4b32f9 100%);
	background: -o-radial-gradient(circle,  #6973ff 10%, #4b32f9 100%);
	background: -ms-radial-gradient(circle,  #6973ff 10%, #4b32f9 100%);
	background: radial-gradient(circle, #9ea5ff 10%, #4b32f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6973ff', endColorstr='#4b32f9', gradientType=0);
  opacity: 1;
  z-index: 1;
}
main section#intro div ul li:nth-child(1) a::before{
  content: "";
  background-image: url(../img/stream.svg);
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
}
main section#intro div ul li:nth-child(2) a::before{
  content: "";
  background-image: url(../img/cloud.svg);
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
  opacity: 0.3;
}
main section#intro div ul li:nth-child(3) a::before{
  content: "";
  background-image: url(../img/settings.svg);
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
}
  main section#intro div ul li:nth-child(4) a::before{
  content: "";
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
  background-image: url(../img/podcasts.svg);
}
main section#intro div ul li a::after{
  content:"";
  height: 100%;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
main section#intro div ul li a:hover::after{
  /*! content:""; */
  transition: all 1s;
}
main section#society{
  
}
main section#society div{
  
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  background-image: url(../img/main_roll_bg.jpg);
  background-repeat: no-repeat;
  background-color: #e6efee;
  box-sizing: border-box;
}
main section#society div>p{
  
  position: absolute;
  top: 65px;
  font-weight: 300;
  line-height: 1.5;
}
main section#society article a img{
  
  width: 100%;
  position: relative;
  top: -10px;
}
main section#society article a p{
  
  margin: 10px.0px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 66%;
  white-space: nowrap;
}    
main section#society article a::after{
  content: "+";
  position: absolute;
  right: 0px;
  bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}
main section#society article{
  
  display: flex;
  flex-direction: column;
  position: relative;
}
main section#society article a{
  transition: all 1s;
  
}
main section#society article a:hover{
  background-color: #ccc;
}
main section#society article a figure{
  
  height: 130px;
  overflow: hidden; /*부모영역을 넘처나온 이미지를 숨겨줌*/
}
/* 한진뉴스 */
#news {
}
#news .wrap {

 
}
#news .wrap h2 {
  margin-bottom: 20px;
 
}
#news .wrap ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  line-height: 1.2;
}
#news .wrap ul a{
 
}
#news .wrap ul li:first-child {
 width: calc(50% - 30px);
}
#news .wrap ul li:first-child a {
 
}
#news .wrap ul li:first-child a figure {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(50% - 10px)
 
}
#news .wrap ul li:first-child a figure img {
 width: 100%
}
#news .wrap ul li:first-child a figure figcaption {
 
}
#news .wrap ul li:first-child a h3 {
  opacity: 100%;
  margin: 0px;
}
#news .wrap ul li:first-child a p {
  margin-top:10px;
 text-overflow: ellipsis;
  overflow: hidden;
    height: 60px;
}
#news .wrap ul li {
 
}
#news .wrap ul li a {

}
#news .wrap ul li a h3 {
 opacity: 70%;
  margin: 5px 0px;
 overflow: hidden;
}
#news .wrap ul li:nth-child(1) a p{
 
}
#news .wrap ul li:nth-child(2){
  margin-top:40px;
}
#news .wrap ul li:nth-child(n+2){
  width:calc(50% - 100px);
}
#news .wrap ul li:nth-child(n+2) a {
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}
#news .wrap ul li a date{
 margin-top:10px;
}