/* 타이틀영역 */
div#title{
    height: 600px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/title.jpg);
    background-size: cover;
    background-position-y: 50%;
    background-attachment: fixed;
    position: relative;
    transition: all 1s;
  }
  div#title h2{
    /*! margin-bottom: 30px; */
    animation-name: textup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes textup{
    0%{
      transform: translateY(0);
      opacity: 0;
    }
    50%{
      transform: scale(1.2) translateY(calc(-50px / 2));
    }
    100%{
      transform: scale(1) translateY(-50px);
      opacity: 1;
    }
  }
  div#title h2 span{ 
    font-weight: 500;
  }
  div#title h2::after{
    content: "";
    /*! color: black; */
    display: block;
    width: 2px;
    background-color: #666;
    margin: 25px auto;
    height: 60px;
  }
  div#title p{
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.5;
    margin-top: -10px;
    animation-name: textup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    opacity: 0;
  }
  
  div#title a{
    background-color: green;
    color: white;
    text-align: center;
    width: 100px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: all 1s;
    animation-name: textup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
  }
  div#title a:hover{
    background-color: orange;
  }
  div#title a::before{
    content: "";
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: green;
    display: block;
    position: absolute;
    top: -35px;
    border-bottom-width: 35px;
    border-top-width: 0px;
    transition: all 1s;
  }
  
  div#title a:hover::before{
    border-bottom-color:orange;
  }
  div#title a::after{
    content: "";
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: green;
    display: block;
    position: absolute;
    top: 40px;
    border-top-width: 35px;
    border-bottom-width: 0px;
    transition: all 1s;
  }
  div#title a:hover::after{
    border-top-color: orange;
  }
  div#title a::after:hover{
    background-bottom-color:orange;
  }
  div#title::before{
    content:"";
    display: block;
    border: 290px solid rgba(253, 125, 75, 0.2);
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    left: 0px;
    border-bottom-width: 130px;
    top: 0px;
    border-right-width: 620px;
  }
  div#title::after{
    content:"";
    display: block;
    border: 290px solid rgba(118, 223, 255, 0.20);
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    right: 0px;
    border-bottom-width: 130px;
    bottom: 0px;
    border-right-width: 620px;
  }